<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<div class="container">
  <div class="panel panel-warning">
    <p align="center"><i>YOUR CARDS</i></p>
  </div>
</div>
    <u><h2 align="center"><i>CLICK ON THE BUTTON TO DELETE IT !</i></h2></u>
  <br>
  <br>
  <ul>
  <li>
   <u><h2><i>DISPLAYING THE TO DO LIST:~</i></h2></u>
  </li>
</ul>

  <header align="center">
    <button class="btn btn-danger"><i>list:1</i></button>
    <h4><i>Monday:</i></h4>
      <p><i>10:30~11:30</i></p><p>Read A Book About No Easy Walk To Freedom !</p>
       <br>
  <p><i>11:30~12:50</i></p><p>Play Games In THE PlayStation 3 !</p>
<br>
<p><i>12:50~14:00</i></p><p>Prepare A Meal For Myself For Lunch !</p>
    <br>
    <button class="btn btn-warning">Delete Today's List</button>
<br>
<br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:30%"><i>30%</i></div>
    </div>
    <br>
    <br>
  <button class="btn btn-primary"><i>list:2</i></button>
  <h4><i>Tuesday:</i></h4>
  <p><i>08:00~11:30~</i></p><p>Going For Excercise At The Gym !</p>
  <br>
  <p><i>11:30~12:50</i></p><p>Do A Reasearch On The Investment plan !</p>
  <br>
  <p><i>12:50~13:45</i></p><p>Continue Reading About The No Easy Walk To Freedom !</p> 
  <br>
  <p><i>13:45~15:00</i></p><p>Prepare A Lunch Meal !</p>
  <br>
  <p><i>15:00~17:50</i></p><p>Coding And Creation Of Applications !</p>
  <br>
  <button class="btn btn-danger">Delete Today's List</button>
  <br>
  <br>
  <div class="progress">
  <div class="progress-bar" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:40%"><i>40%</i></div>
  </div>
  <br>
  <br>
  <button class="btn btn-success"><i>list:3</i></button>
  <h4><i>Wednesday:</i></h4>
  <p><i>06:30~07:00</i></p><p>Wake Up, Take A Shower And Prepare A Meal !</p>
  <br>
  <p><i>07:00~09:00</i></p><p>Read For A College Test And Practice !</p>
  <br>
  <p><i>09:00~10:30</i></p><p>Travel To School Of Destination !</p>
  <br>
  <p><i>10:30~12:45</i></p><p>Do The Test Keenly !</p>
  <br>
  <p><i>12:45~13:50</i></p><p>Go For Lunch !</p>
  <br>
  <p><i>13:50~14:20</i></p><p>Travel Back Home !</p>
  <br>
  <button class="btn btn-warning">Delete Today's List</button>
  <br>
  <br>
  <div class="progress">
    <div class="progress-bar" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:50%"><i>50%</i></div>
  </div>
  <br>
  <br>
  <button class="btn btn-info"><i>list:4</i></button>
  <h4><i>Thursday:</i></h4>
  <p><i>06:30~07:00</i></p><p>Wake Up And Groom Myself !</p>
  <br>
  <p><i>07:00~10:00</i></p><p>Treat Myself And Go Out !</p>
  <br>
  <p><i>10:00~11:00</i></p><p>Return Home !</p>
  <br>
  <p><i>11:00~11:30</i></p><p>Clean The House !</p>
  <br>
   <p><i>11:30~12:00</i></p><p>Play Games In THE PlayStation 3 !</p>
   <br>
   <p><i>12:00~13:55</i></p><p>Prepare My Meal While Reading About The Men Who Built America !</p>
   <br>
   <p><i>13:55~14:50</i></p><p>Do A More Research About The Black Energy And Its Cause !</p>
   <br>
   <button class="btn btn-danger">Delete Today's List</button>
  <br>
  <br>
   <div class="progress">
    <div class="progress-bar" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:60%"><i>60%</i></div>

  </div>
  <br>
  <br>
  <button class="btn btn-warning"><i>list:5</i></button>
  <h4><i>Friday:</i></h4>
  <p><i>06:30~07:00</i></p><p>Wake Up And Groom Myself !</p>
<br>
<p><i>07:00~08:55</i></p><p>Continuous Reaserch About The Black Energy !</p>
  <br>  
<p><i>08:55~10:00</i></p><p>Treat Myself By Going Out !</p>
 <br>
<p><i>10:00~11:40</i></p><p>Return And Research More About The Investment Options ! </p>
 <br>
  <p><i>11:40~12:50</i></p><p>Watch A Movie !</p>
<br>
   <p><i>12:50~14:00</i></p><p>Prepare A Lunch Meal !</p>
<br>
     <p><i>14:00~15:00</i></p><p>Cleaning Of Household and Utensils !</p>
<br>
  <p><i>15:00~16:50</i></p><p>Budget And Plan On The Forward Success Of Life !</p>
<br>
<button class="btn btn-warning">Delete Today's List</button>
<br>
<br>
<div class="progress">
  <div class="progress-bar" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:70%"><i>70%</i></div>
</div>
<br>
<br>
</header>
<router-outlet></router-outlet>
